doctype html
html(lang="en")
  head
    title Get started | Westminster SU
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(type="text/css",rel="stylesheet",href="style.css")
    link(type="text/css",rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    //- Parent of everything
    main#get-started
      //- Hero section
      section.slice#hero
        .text
          h1 Get started with your SU
          p You did it! You have landed at the start of an exciting journey with the University of Westminster Students’ Union.
          p What is a students’ union? We're a student-led organisation whose main goal is to make sure you are supported throughout your student experience, from academia to your social life.

          .ctas
            a.cta(href="#")
              | Log in
              i.fa.fa-sign-in
            a.cta(href="#") No student ID?
        .media
          .video-container
            #ytplayer          
      //- Societies and sport
      section.slice.sell
        .text
          h2 Join a society
          p Meet like-minded people and grow your interests.
          p If there’s  one way to make the most of university life it’s by joining a society – or many of them! Societies are the driving force of all the fun opportunities and activities that happen on campus.
        .imagery
          div.bg(style="background-image:url('/img/socs-bg.jpg')")
            svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve")
              path(class="st0" d="M122.8-2.8H0V0c0.2,0,0.3,0,0.5,0C66.5,0,120,53.5,120,119.5c0,0.2,0,0.3,0,0.5h2.8V-2.8z")

          div.circle(style="background-image:url('/img/socs-circle.jpg')")
          img.icon
      //- Sports
      section.slice.sell
        .text
          h2 Play a sport
          p Train, get fit, make memories, and have fun while you’re at it.
          p Our Dragons Sports Clubs are growing in popularity and success every year. Our teams include the British Universities and Colleges Sports (BUCS), as well as recreational sports. 
        .imagery
          div.bg(style="background-image:url('/img/sport-bg.jpg')")
            svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve")
              path(class="st0" d="M122.8-2.8H0V0c0.2,0,0.3,0,0.5,0C66.5,0,120,53.5,120,119.5c0,0.2,0,0.3,0,0.5h2.8V-2.8z")
          
          div.circle(style="background-image:url('/img/sport-circle.jpg')")
          img.icon
      //- Events
      section.slice.sell
        .text
          h2 There's an event for you
          p Whether you like to club, network, or visit a London attraction, there is always something for you. 
          p Regular events include a weekly Monday Nights Madness evening at The Loft student bar, as well as Let’s Go adventures around London. 
          p Plus our upcoming Arrivals Week is not far away – and this isn’t your usual freshers.
        .imagery
          div.bg(style="background-image:url('/img/events-bg.jpg')")
            svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve")
              path(class="st0" d="M122.8-2.8H0V0c0.2,0,0.3,0,0.5,0C66.5,0,120,53.5,120,119.5c0,0.2,0,0.3,0,0.5h2.8V-2.8z")


          div.circle(style="background-image:url('/img/events-circle.jpg')")
          img.icon
      //- CV skills
      section.slice.sell
        .text
          h2 Grow professionally
          p Gain new employable skills, build experience and be a leader.
          p If you’re motivated to broaden your horizons, we’ve got opportunities for you. You’ll be able to stand as a student officer next year to influence the SU’s direction, and apply for part-time jobs with us.
        .imagery
          div.bg(style="background-image:url('/img/cv-bg.jpg')")
            svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve")
              path(class="st0" d="M122.8-2.8H0V0c0.2,0,0.3,0,0.5,0C66.5,0,120,53.5,120,119.5c0,0.2,0,0.3,0,0.5h2.8V-2.8z")

          div.circle(style="background-image:url('/img/cv-circle.jpg')")
          img.icon
      //- Advice
      section.slice.sell
        .text
          h2 Get advice
          p Get the support and guidance you need throughout your studies. 
          p Whether it’s to do with academic issues, or general health and wellbeing, our advisors are here to help. 
        .imagery
          div.bg(style="background-image:url('/img/advice-bg.jpg')")
            svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve")
              path(class="st0" d="M122.8-2.8H0V0c0.2,0,0.3,0,0.5,0C66.5,0,120,53.5,120,119.5c0,0.2,0,0.3,0,0.5h2.8V-2.8z")
         
          div.circle(style="background-image:url('/img/advice-circle.jpg')")
          img.icon
      //- Hero section
      section.slice#last
        .text
          h1 It's decision time...
          p Get started now so you can buy tickets to Arrivals Week, join sports and societies and stay in the loop.
          .ctas
            a.cta(href="#")
              | Log in
              i.fa.fa-sign-in
            a.cta(href="#") No student ID?

      script(src="app.js")
